$color-primary-background: #ffffff;
$color-primary-text: #333;
$color-secondary-background: #03a1dd;
$color-secondary-text: #ffffff;
$color-tertiary-background: #ececec;

html, body{
    min-height: 100%;
    height: 100%;
    font-family: 'Open Sans', Arial, Helvetica;
}
div#wrapper{
    height: 100%;
    min-height: 100%;
    position: relative;
    display: flex;

}
.btn-mk-primary, .btn-mk-primary:hover,.btn-mk-primary:focus,.btn-mk-primary:active, .btn-mk-primary:visited{
    background-color: $color-secondary-background;
    color: #fff;
}

/*****************************************************
* TOP MENU
*/
.mc-top-menu{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    z-index: 9999;
    background-color: $color-secondary-background;
    a{
        color: $color-secondary-text;
    }
}
.mc-navbar-brand{
    float: left;
    margin: 5px 30px;
    display: block;
}
.mc-sidebar-toggle{
    position: absolute;
    top: 10px;
    right: 30px;
    &>i{
        font-size: 28px;
    }
}
nav>li>a:focus, .nav>li>a:hover{
    background-color: rgba(0,0,0,0.1);
}
nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
    background-color: rgba(0,0,0,0.3);
}

/**
 * MAIN BODY PAGE
 */

div#wrapper-page{
    height: 100%;
    padding: 70px 10px 10px 10px;
    flex: 1 1 auto;
    overflow: auto;
}
.mc-page-header{
  margin-top: 26px;
}
/*************************************************
 * ADMIN READ
 */
div.mc-table-responsive{
    overflow: auto;
}
 
table.mc-read-table{
    margin-top: 15px;
    th, thead td{
        cursor: pointer;
        line-height: 18px;
        white-space: nowrap;
        text-transform: uppercase;
        color: #fff;
        background-color: $color-secondary-background;
        &:before{
            display: inline-block;
            content: " ";
            margin-right: 6px;
            font-family: "FontAwesome";
            will-change: top, opacity;
            opacity: 0;
            position: relative;
            top: -5px;
            transition: top 450ms ease-in-out, opacity 250ms ease-in-out;
            white-space: nowrap;
        }
        &[data-order-type="DESC"]:before{
            opacity: 1;
            content: "\f0d7";
            top: 0;
        }
        &[data-order-type="ASC"]:before{
            content: "\f0d8";
            opacity: 1;
        }
    } 
    tbody{
        border: 1px solid #ddd;
        td{
            white-space: nowrap;
            text-overflow: ellipsis;
            vertical-align: middle!important;
            overflow: hidden;
            max-width: 150px;
            padding: 5px;
            &:last-child{
                background-color: rgba(0,0,0,0.05);
            }
            &[contenteditable="true"]:focus{
                background-color: #fff;
                font-family: Arial, Helvetica;
                font-size: 15px;
            }
        }
        tr{
            &:nth-child(even){
                background-color: rgba(0,0,0,0.05);
            }
        }
    }
}
ul.mc-actions-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    &>li{
        display: inline-block;
        margin: 5px;
        &>a{
            color: #333;
            cursor: pointer;
            font-size: 18px;
        }
    }
}
ul.mc-page-actions{
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 25px;
    display: block;
    text-align: right;
    &>li{
        display: inline-block;
        width: 34px;
        height: 34px ;
        border-radius: 3px;
        background-color: $color-secondary-background;
        margin-left: 10px;
        text-align: center;
        &>a{
            line-height: 32px;
            color: $color-secondary-text;
            font-size: 18px;
        }
        &.search{
            &.active{
                width: 250px;
            }
            background-color: transparent;
            overflow: hidden;
            text-align: left;
            width: 0;
            will-change: width;
            transition: width 250ms ease-in-out;
        }
    }
}

/**************************************************
 * ADMIN SIDEBAR
 */
 div#wrapper-sidebar{
     width: 250px;
     flex: none;
     margin-top: 50px;
     padding-top: 15px;
     padding-bottom: 30px;
     overflow-x: hidden;
     overflow-y: auto;
     background-color: $color-tertiary-background;
     will-change: width;
     transition: width 450ms ease-in-out;
     &.closed{
         width: 0;
     }
     &>div.container-fluid{
         padding: 0 30px;
     }
     @media(max-width: 767px){
        position: absolute;
        top: 50px;
        margin-top: 0;
        left: -50px;
        right: 0;
        bottom: 0;
        width: 0;
        z-index: 999;
        &.closed{
            left: 0;
            width: 100%;
        }
     }
 }
a.table-list-collapse{
    color: $color-secondary-text;
    padding: 5px;
    margin-bottom: 5px;
    background-color: $color-secondary-background;
    display: block;
    font-weight: bold;
    text-decoration: none;
    &:before{
        font-family: 'FontAwesome';
        content: '\f0d7';
    }
    &.collapsed:before{
        content: '\f0da';
    }
    &>.fa{
        position: absolute;
        right: 26px;
        top: 5px;
        font-size: 20px;
    }
}
ul.mc-table-list{
    padding: 0;
    margin: 5px 0 15px 0;
    list-style-type: none;
    &>li{
        &>a{
            color: $color-primary-text;
            cursor: pointer;
        }
        padding-top: 3px;
        padding-bottom: 3px;
    }
    &>li:nth-child(even){
       
    }
    &>li:nth-child(odd){
        
    }

}
div#infoMessage{
    p{
        color: red;
        margin-bottom: 3px;
    }
    margin-bottom: 15px;
}


//INPUTS
.mc-checkbox{
    position: relative!important;
    margin-left: 0!important;
    cursor: pointer;
}